<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imc.dao.common.CommonDaoMapper">

	<insert id="insertObject">
		INSERT INTO ${tableName}
		<foreach item="item" index="index" collection="columns" open="(" separator="," close=")">
			${item.name}
		</foreach>
		values
		<foreach item="item" index="index" collection="columns" open="(" separator="," close=")">
			#{item.value}
		</foreach>
	</insert>

	<update id="updateObject">
		update ${tableName}
		<set>
			<foreach item="item" collection="columns">
				${item.name}=#{item.value},
			</foreach>
		</set>
		where ID=
		<foreach item="item" collection="columns">
			<if test="item.name=='id' ">
				#{item.value}
			</if>
		</foreach>
	</update>
	
	<update id="updateClobColumnById" > 
		update ${tableName} 
		<set>
			<foreach item="item" collection="columns">
				${item.name}=#{item.value},
			</foreach>
		</set>	
		where ID=#{id} 
	</update>

	<delete id="deleteObject">
		DELETE FROM ${tableName} WHERE ID=#{id}
	</delete>

	<delete id="batchDeleteObjects">
		DELETE FROM ${tableName} WHERE ID in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findObjectById" resultType="java.util.Map">
		SELECT 
		<if test="columns == null or columns.size()==0">
			*
		</if>
		<if test="columns != null and columns.size()!=0">
			<foreach item="item" collection="columns" open=" " separator="," close=" ">
				<if test="item!= ''">
					${item}
				</if>
			</foreach>
		</if>
		from ${tableName} t
		WHERE ID=#{id}
	</select>

</mapper>